.git
.dockerignore
.gitattributes
.github
.gitignore
.php-cs-fixer.php
*.md
composer.json
composer.lock
*Dockerfile
docker-compose.yml
LICENSE
ow_install_default
phpunitgen.php
ow_unittest
/output.log
docker_tag
Dockerfile-php-build
DOCKER_ENV
